# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Diretórios de build
dist/
build/
tmp/
temp/

# Diretórios do sistema
.DS_Store
Thumbs.db

# Arquivos de logs
*.log

# Arquivos de configuração do editor
.vscode/
.idea/

# Arquivos específicos de dependências de pacotes
.pnpm-debug.log
.pnp.js
.pnp.cjs

# Arquivos de cache de pacotes
/.cache/
npm/
yarn/

# Arquivos de teste
coverage/

# Arquivos do TypeScript (se aplicável)
*.tsbuildinfo

# Arquivos de configuração do Babel (se aplicável)
*.babelrc
.babelrc.json

# Arquivos de configuração do ESLint (se aplicável)
.eslintrc
.eslintrc.js
.eslintrc.json

# Arquivos de configuração do Prettier (se aplicável)
.prettierignore
.prettierrc
